body {
    position: relative;
    background-image: url('ToDoList.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.content {
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
}

.addButton {
    padding: 15px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    border-radius: 5px;
}

.todoList {
    list-style: none;
    padding: 0;
}

.todoList:hover {
    color: white;
}

.removeButton {
    padding: 10px;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
